* {
	box-sizing: border-box;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;

}



.header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(shopping-online.jpg);
	background-position: center;
	background-size: cover;
	min-height: 700px;
}

.header h1 {
	text-align: center;
	padding-top: 240px;
	font-size: 65px;
	letter-spacing: -2px;
	color: white;
	z-index: -1;
}

.header h3 {
	text-align: center;
	padding-top: 30px;
	font-size: 24px;
	color: white;
	z-index: -1;
}

ul {
	list-style-type: none;
	position: relative;
	padding: 0;
}

.left {
	float: left;
	position: absolute;
	top: 0;
	left: 240px;
}

.right {
	float: right;
	position: absolute;
	top: 0;
	right: 240px;
}

li {
	display: inline-block;
}

li a, .dropdownbtn{
	color: #cccccc;
	display: inline-block;
	text-decoration: none;
	padding: 14px 18px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 18px;
}

li a:hover {
	color: white;
}

.dropdown {
	display: inline-block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: white;
	min-width: 220px;
	height: auto;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.dropdown-content a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #637381;
	border-left: 3px solid white;
	padding: 10px 10px 10px 30px;
	margin: 0 10px 5px 0px;
}

.dropdown-content a:hover, .dropdown-sub-content a:hover {
	background-color: #f2f2f2;
	color: black;
	border-left: 3px solid #6b64ee;
}

.dropdown-content a:first-child {
	margin-top: 10px;
	margin-bottom: 5px;
}

.dropdown-content a:last-child {
	margin-bottom: 10px;
}

.border_bottom {
	border-bottom: 1px solid #f2f2f2;
}






.dropdown-sub {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #637381;
	padding: 0;
	margin: 0;
}

.dropdown-sub:hover .sub {
	display: block;
}

.dropdown-sub-content {
	display: block;
}


.sub {
	display: none;
	min-width: 230px;
	position: absolute;
	top: 0px;
	left: 220px;
	z-index: 1;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdown-sub-content a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #637381;
	padding: 10px 10px 10px 30px;
	margin: 0 10px 5px 0px;
}

p.discription {
	font-size: 15px;
	color: #637381;
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
}




.start_free_trial {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

.start_free_trial a {
	background-color: #6b64ee;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	border: 2px solid #6b64ee;
	border-radius: 4px;
	color: white;
	padding: 12px 20px;
	margin-right: 75px;
	margin-top: 18px;
}

.start_free_trial a:hover {
	background-color: hsl(243, 80%, 66%, 0%);
}



#logo {	
	width: 142px;
	height: 100px;
	position: absolute;
	left: 67px;
	top: 0;
	background: url(f.gif) 0 0;
	background-size: 245px;
	background-repeat: no-repeat;
}

.link {
	text-align: center;
	padding-top: 70px;
}

.link a {
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 17px;
	font-weight: bold;	
	border: 1.5px solid white;
	border-radius: 5px;
	margin: 30px 15px;
	padding: 15px 40px;
}

.link a:hover {
	background-color: white;
	color: #00091a;
}







/*##################################################################
*/

.main01 {
	text-align: center;
	margin-top: 100px;
	color: #2f2f2f;
}

.main02 {
	text-align: center;
	margin-top: 30px;
	color: #595959;
	font-size: 20px;
}

.card {
	background-color: white;
	padding: 30px 50px 20px 50px;
	margin: 40px;
}

.main-left {
	float: left;
	width: 50%;
}

.main-right {
	float: right;
	width: 50%;
}

.main-a-word1 {
	padding-top: 120px;
	color: #6b64ee;
	text-align: left;
}

.main-a-word2 {
	color: #2f2f2f;
	text-align: left;
}

.main-a-word3 {
	color: #595959;
	font-size: 20px;
	text-align: left;
	margin-top: 30px;
}

.main-a-word4 {
	color: #2f2f2f;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
}

.main-a-word4 a {
	text-decoration: none;
	color: #2f2f2f;
	padding-bottom: 3px;
}

.main-a-word4 a:hover {
	border-bottom: 2px solid black;
}


.main-b-image {
	width: 680px;
	margin-top: 150px;
	position: absolute;
	right: 80px;
}

.main-b-word1 {
	padding-top: 50px;
	color: #6b64ee;
	text-align: left;
	padding-left: 85px;
}

.main-b-word2 {
	color: #2f2f2f;
	text-align: left;
	padding-left: 85px;
}

.main-b-word3 {
	color: #595959;
	font-size: 20px;
	text-align: left;
	margin-top: 30px;
	padding-left: 85px;
}

.main-b-word4 {
	color: #2f2f2f;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	padding-left: 85px;
}

.main-b-word4 a {
	text-decoration: none;
	color: #2f2f2f;
	padding-bottom: 3px;
}

.main-b-word4 a:hover {
	border-bottom: 2px solid black;
}

.main-c-image {
	position: absolute;
}

.main-c-word1 {
	padding-top: 650px;
	color: #6b64ee;
	text-align: left;
}

.main-c-word2 {
	color: #2f2f2f;
	text-align: left;
}

.main-c-word3 {
	color: #595959;
	font-size: 20px;
	text-align: left;
	margin-top: 30px;
}

.main-c-word4 {
	color: #2f2f2f;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
}

.main-c-word4 a {
	text-decoration: none;
	color: #2f2f2f;
	padding-bottom: 3px;
}

.main-c-word4 a:hover {
	border-bottom: 2px solid black;
}

.main-d-image {
	width: 640px;
	height: 450px;
	margin-top: 90px;
	position: absolute;
	right: 80px;
}

.main-d-word1 {
	padding-top: 50px;
	color: #6b64ee;
	text-align: left;
	padding-left: 85px;
}

.main-d-word2 {
	color: #2f2f2f;
	text-align: left;
	padding-left: 85px;
}

.main-d-word3 {
	color: #595959;
	font-size: 20px;
	text-align: left;
	margin-top: 30px;
	padding-left: 85px;
}

.main-d-word4 {
	color: #2f2f2f;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	padding-left: 85px;
}

.main-d-word4 a {
	text-decoration: none;
	color: #2f2f2f;
	padding-bottom: 3px;
}

.main-d-word4 a:hover {
	border-bottom: 2px solid black;
}

.container1::after {
	content: " ";
	display: table;
	clear: both;
}





/*##################################################################
*/

.main2-left {
	float: left;
	height: 200px;
	margin: 300px 100px 10px 245px;
}

.main2-middle {
	float: left;
	height: 200px;
	margin: 300px 100px 10px 100px;
}

.main2-right {
	float: left;
	height: 200px;
	margin: 300px 200px 10px 100px;
}

.container2::after {
	content: " ";
	display: table;
	clear: both;
}

.word-left {
	padding: 0px 0px 20px 130px;
	margin: 40px;
	float: left;
}

.word-middle {
	padding: 0px 0px 20px 20px;
	margin: 40px;
	float: left;
}

.word-right {
	padding: 0px 50px 20px 20px;
	margin: 40px;
	float: left;
}

.container3::after {
	content: " ";
	display: table;
	clear: both;
}

/*##################################################################
*/



.main2-left-word1 {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #2f2f2f;
	margin: 5px;
	padding: 5px;
	
}

.main2-left-word2 {
	text-align: center;
	font-size: 17px;
	color: #637381;
	margin: 5px;
	padding: 5px;
	line-height: 1.6;
}

.main2-left-word3 {
	text-align: center;
}

.main2-left-word3 a {
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color: #2f2f2f;
	font-weight: bold;
	padding: 3px;
}

.main2-left-word3 a:hover {
	border-bottom: 2px solid black;
}





.main2-middle-word1 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #2f2f2f;
	margin: 5px;
	padding: 5px;
}

.main2-middle-word2 {
	text-align: center;
	font-size: 17px;
	color: #637381;
	margin: 5px;
	padding: 5px;
	line-height: 1.6;
}

.main2-middle-word3 {
	text-align: center;
}

.main2-middle-word3 a {
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color: #2f2f2f;
	font-weight: bold;
	padding: 3px;
}

.main2-middle-word3 a:hover {
	border-bottom: 2px solid black;
}




.main2-right-word1 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #2f2f2f;
	margin: 5px;
	padding:5px;
}

.main2-right-word2 {
	text-align: center;
	font-size: 17px;
	color: #637381;
	margin: 5px;
	padding:5px;
	line-height: 1.6;
}

.main2-right-word3 {
	text-align: center;
}

.main2-right-word3 a {
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color: #2f2f2f;
	font-weight: bold;
	padding: 3px;
}

.main2-right-word3 a:hover {
	border-bottom: 2px solid black;
}


/*##################################################################
*/

.main-e-image {
	background-image: url(e.jpg);
	background-position: center;
	background-size: cover;
	min-height: 650px;
}

.container4 {
	float: left;
}

.container4::after {
	content: " ";
	display: table;
	clear: both;
}

.main-f-image {
	background-image: url(f.jpg);
	background-size: 750px;
	min-height: 615px;
	width: 750px;
	background-repeat: no-repeat;
}

.main-g-image {
	display: block;
	background-color: #0f0f3e;
	background-size: 100px;
	height: 614px;
	width: 650px;
	position: absolute;
	top: 650px;
	left: 750px;
}

.main-efg-image {
	background-color: #f5f5fc;
	background-position: center;
	background-size: cover;
	min-height: 1400px;
	position: relative;
}

.main-white {
	position: absolute;
	left: 840px;
}

.main-g-word1 {
	padding-top: 60px;
	padding-bottom: 70px;
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: serif;
	line-height: 1.5;
	letter-spacing: 1.5px;
}

.logo2 {
	background-image: url(g.png);
	background-size: 140px;
	width: 140px;
	background-repeat: no-repeat;
	padding: 60px;
	margin-left: 170px;
}

.main-g-word2 {
	color: white;
	font-size: 18px;
	text-align: center;
	padding-left: 40px;
}

.link2 {
	text-align: center;
	margin-top: 40px;
	padding-left: 40px;
}

.link2 a {
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 17px;
	font-weight: bold;	
	border: 1.5px solid white;
	border-radius: 5px;
	margin: 30px 15px;
	padding: 15px 40px;
}

.link2 a:hover {
	background-color: white;
	color: #00091a;
}













/*##################################################################
*/
.main-h-word {
	font-size: 40px;
	font-weight: bold;
	color: #2f2f2f;
	text-align: center;
	margin-top: 120px;
}

.card2 {
	margin-left: 70px;
	margin-top: 70px;
}

.position {
	position: absolute;
	top: 70px;
}

.main-i-1 {
	float: left;
	box-shadow: 2px 3px 20px lightgrey;
	padding: 10px;
	margin: 10px;
	position: relative;
	height: 285px;
	width: 323px;
	text-decoration: none;
}

.main-i-1-logo {
	background-image: url(i-1.jpg);
	background-repeat: no-repeat;
	background-size: 60px;
	width: 200px;
	padding: 0;
	margin: 0;
	margin-left: 5px;
}

.main-i-1-word1 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #2f2f2f;
	margin: 10px;
	padding: 10px;
	
}

.main-i-1-word2 {
	font-size: 17px;
	color: #637381;
	text-align: left;
	padding: 10px;
	margin: 10px;
}

.main-i-1-word3 {
	font-size: 17px;
	font-weight: bold;
	color: #6b64ee;
	text-align: left;
	padding: 10px 10px 0px 0px;
	margin: 10px 10px 0px 20px;
}











.main-i-2 {
	float: left;
	box-shadow: 2px 3px 20px lightgrey;
	padding: 10px;
	margin: 10px;
	position: relative;
	height: 285px;
	width: 323px;
	text-decoration: none;
}

.main-i-2-logo {
	background-image: url(i-2.jpg);
	background-repeat: no-repeat;
	background-size: 60px;
	width: 200px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 5px;
}

.main-i-2-word1 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #2f2f2f;
	margin: 10px 0px 10px 10px;
	padding: 10px;
	
}

.main-i-2-word2 {
	font-size: 17px;
	color: #637381;
	text-align: left;
	padding: 10px;
	margin: 10px 0px 10px 10px;
}

.main-i-2-word3 {
	font-size: 17px;
	font-weight: bold;
	color: #6b64ee;
	text-align: left;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 20px;
	text-decoration: none;
}







.main-i-3 {
	float: left;
	box-shadow: 2px 3px 20px lightgrey;
	padding: 10px;
	margin: 10px;
	position: relative;
	height: 285px;
	width: 323px;
	text-decoration: none;
}

.main-i-3-logo {
	background-image: url(i-3.jpg);
	background-repeat: no-repeat;
	background-size: 60px;
	width: 200px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 5px;
}

.main-i-3-word1 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #2f2f2f;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	
}

.main-i-3-word2 {
	font-size: 17px;
	color: #637381;
	text-align: left;
	padding: 10px;
	margin: 10px;
}

.main-i-3-word3 {
	font-size: 17px;
	font-weight: bold;
	color: #6b64ee;
	text-align: left;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 20px;
	text-decoration: none;
}






.main-i-4 {
	float: left;
	box-shadow: 2px 3px 20px lightgrey;
	padding: 10px;
	margin: 10px;
	position: relative;
	height: 285px;
	width: 323px;
	text-decoration: none;
}

.main-i-4-logo {
	background-image: url(i-4.jpg);
	background-repeat: no-repeat;
	background-size: 65px;
	width: 200px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 5px;
}

.main-i-4-word1 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #2f2f2f;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	
}

.main-i-4-word2 {
	font-size: 17px;
	color: #637381;
	text-align: left;
	padding: 10px;
	margin: 10px;
}

.main-i-4-word3 {
	font-size: 17px;
	font-weight: bold;
	color: #6b64ee;
	text-align: left;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 20px;
	text-decoration: none;
}

.main-i-1:hover .main-i-1-word3 {
	border-bottom: 2px solid #6b64ee;
}

.main-i-2:hover .main-i-2-word3 {
	border-bottom: 2px solid #6b64ee;
}

.main-i-3:hover .main-i-3-word3 {
	border-bottom: 2px solid #6b64ee;
}

.main-i-4:hover .main-i-4-word3 {
	border-bottom: 2px solid #6b64ee;
}


.main-i-1:hover, .main-i-2:hover, .main-i-3:hover, .main-i-4:hover {
	box-shadow: 2px 3px 70px lightgrey;
	transition: 0.7s;
		
}


.container5::after {
	content: " ";
	display: table;
	clear: both;
}


/*#####################################
*/

.container6 {
	position: relative;
	margin-top: 150px;
}

.main-j-word {
	font-size: 25px;
	color: #2f2f2f;
	text-align: center;
	position: absolute;
	top: 0;
	left: 450px;
}

.main-j-link {
	position: absolute;
	top: 70px;
	left: 680px;
}

.main-j-link a {
	background-color: #6b64ee;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	border-radius: 4px;
	color: white;
	padding: 16px 35px;
	margin-right: 90px;
	margin-top: 18px;
}

.main-j-link a:hover {
	background-color: #130e71;
}

.back-to-top {
	position: absolute;
	top: 300px;
	right: 75px;
	
}

.back-to-top a {
	font-size: 18px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.back-to-top a:hover {
	border-bottom: 2px solid black;
}



/*################################################################
*/


.footer {
	margin-top: 500px;
	background-color: #000033;
	height: 530px;
	width: 100%;
	position: relative;
}

.footer-nav {
	display: inline-block;
	padding: 10px 10px 1px 0px;
	margin-left: 80px;
	border-bottom: 0.1px solid rgb(29, 51, 73);
	width: 90%;
}


.footer-nav a {
	float: left;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
	margin: 13px 30px 13px 0px;
	padding-bottom: 30px;
	margin-bottom: 0;
	border-bottom: 2px solid #000033;
	/*border-bottom: 0.1px solid hsl(240, 100%, 10%, 50%);*/
}

.footer-nav a:hover {
	border-bottom: 2px solid white;
	transition: 0.2s;
}



.footer-sub-nav {
	margin-top: 10px;
	margin-left: 80px;
}

.footer-sub-nav::after {
	content: " ";
	display: table;
	clear: both;
}

.footer-title {
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}

.footer-sub-nav1 {
	float: left;
	width: 16.6%;
}

.footer-sub-nav1 a {
	text-decoration: none;
	padding: 12px 12px 6px 0px;
	display: block;
	color: hsl(215, 17%, 80%, 50%);
	font-size: 14px;
}

.footer-sub-nav1 a:hover {
	color: white;
	transition: 0.3s;
}

.footer-sub-nav2 {
	float: left;
	width: 16.6%;
	padding-top: 33px;
}

.footer-sub-nav2 a {
	text-decoration: none;
	padding: 12px 12px 6px 0px;
	display: block;
	color: hsl(215, 17%, 80%, 50%);
	font-size: 14px;
}

.footer-sub-nav2 a:hover {
	color: white;
	transition: 0.3s;
}

.footer-sub-nav3 {
	float: left;
	width: 16.6%;
	padding-top: 33px;
}

.footer-sub-nav3 a {
	text-decoration: none;
	padding: 12px 12px 6px 0px;
	display: block;
	color: hsl(215, 17%, 80%, 50%);
	font-size: 14px;
}

.footer-sub-nav3 a:hover {
	color: white;
	transition: 0.3s;
}

.footer-sub-nav4 {
	float: left;
	width: 16.6%;
}

.footer-sub-nav4 a {
	text-decoration: none;
	padding: 12px 12px 6px 0px;
	display: block;
	color: hsl(215, 17%, 80%, 50%);
	font-size: 14px;
}

.footer-sub-nav4 a:hover {
	color: white;
	transition: 0.3s;
}

.footer-sub-nav5 {
	float: left;
	width: 16.6%;
}

.footer-sub-nav5 a {
	text-decoration: none;
	padding: 12px 12px 6px 0px;
	display: block;
	color: hsl(215, 17%, 80%, 50%);
	font-size: 14px;
}

.footer-sub-nav5 a:hover {
	color: white;
	transition: 0.3s;
}

.footer-sub-nav6 {
	float: left;
	width: 16.6%;
}

.footer-sub-nav6 a {
	text-decoration: none;
	padding: 12px 12px 6px 0px;
	display: block;
	color: hsl(215, 17%, 80%, 50%);
	font-size: 14px;
}

.footer-sub-nav6 a:hover {
	color: white;
	transition: 0.3s;
}


.hr {
	border-bottom: 0.1px solid rgb(29, 51, 73);
	margin-top: 20px;
}



/*#############################################################*/


.logo3-1 {
	background: url(logo3.jpg) -10px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 100px;
}



.logo3-2 {
	background: url(logo3.jpg) -40px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 0px;
}

.logo3-3 {
	background: url(logo3.jpg) -70px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 0px;
}

.logo3-4 {
	background: url(logo3.jpg) -99px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 0px;
}

.logo3-5 {
	background: url(logo3.jpg) -129px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 0px;
}

.logo3-6 {
	background: url(logo3.jpg) -158px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 0px;
}

.logo3-7 {
	background: url(logo3.jpg) -188px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 10px 10px 0px;
}

.logo3-8 {
	background: url(logo3.jpg) -217px 0;
	background-repeat: no-repeat;
	background-size: 250px;
	height: 60px;
	width: 20px;
	float: left;
	margin: 30px 0px 10px 0px;
}


.footer-bottom-right a {
	float: right;
	color: white;
	font-size: 16px;
	text-decoration: none;
	padding: 5px 8px;
	margin-top: 40px;
	position: relative;
	
}

.triangle {
	background-image: url(triangle.png);
	background-size: 20px;
	background-repeat: no-repeat;
	width: 20px;
	position: absolute;
	top: 6px;
	right: 108px;
}

.language {
	margin-top: 40px;
	margin-right: 100px;
}

/*.earth {
	background-image: url(earth.png);
	background-size: 33px;
	background-repeat: no-repeat;
	width: 22px;
	position: absolute;
	top: 3px;
	margin-left: 8px;
}*/

















